[Unit]
Description=Start SWWW for Hyprland
After=hyprland.service
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Environment=RUST_BACKTRACE=1
ExecStart=/home/teaguy21/.local/bin/swww-daemon -f argb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target