window {
    background-color: #0d1017;
    border: 2px solid #5e81ac;
    border-radius: 8px;
}

#input {
    margin: 5px;
    border: none;
    color: #d8dee9;
    background-color: #0d1017;
}

#inner-box {
    margin: 5px;
    color: #d8dee9;
    background-color: #0d1017;
}

#outer-box {
    margin: 5px;
    background-color: #0d1017;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: #d8dee9;
    font-size: 14px;
}

#entry:selected {
    background-color: #5e81ac;
    border-radius: 5px;
}