/* ~/.config/wofi/style.css */
window {
    margin: 5px;
    background-color: #10141c;
    border-radius: 8px;
}

#input {
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #161a24;
    color: #bfbdb6;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #10141c;
    color: #bfbdb6;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #10141c;
}

#scroll {
    margin: 5px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #bfbdb6;
}

#entry:selected {
    background-color: #e6b450;
    color: #10141c;
    border-radius: 5px;
}

#entry:selected #text {
    color: #10141c;
}

#img {
    margin-right: 10px;
    margin-left: 5px;
}